
body {
    background-color: #0f172a;
    color: white;
}
h1, h2 {
    text-align: center;
    color: #7dd3fc;
}
.stButton>button {
    background-color: #14b8a6;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 0.6em 2em;
    font-size: 1.2em;
}
.stButton>button:hover {
    background-color: #0d9488;
}
